@font-face {
  font-family: 'marvel';
  src: url('../fonts/Marvel-Regular.ttf');
}
@font-face {
  font-family: 'abel';
  src: url('../fonts/abel-regular.ttf');
}
@font-face {
  font-family: 'georgia';
  src: url('../fonts/Georgia.ttf');
}