.header {
  width: 100vw;
}

.header--logo {
  width: 25%;
}

.header--nav {
  width: 50%;
  height: 100px;
  background: rgba(0,0,0,.8);

  .header--nav--list {
    width: 100%;
    margin: 40px auto;

    .header--nav--item {
      color: white;
    }
  }
}

.header--account {
  width: 25%;

  &--button {
    width: 130px;
    margin: 30px auto;
    height: 30px;
    padding: 5px 10px;
    display: block;
    background: var(--white);
    border-radius: 5px;
    color: var(--black);
    text-align: center;
    cursor: pointer;
  }

  &--username {
    color: white;
    margin-top: 40px;
    margin-left: auto;
  }
}