<!DOCTYPE>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <title>page</title>
  <link rel="stylesheet" href="../../Assets/Styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
</head>

<body>


  <div id="card" data-id="1">
    <div class="cardFront">
      <img src="../../Assets/Ressources/test.jpg" class="card__image" alt="#" data-amplitude="0.12">
      <img src="../../Assets/Ressources/card1.svg" class="card_rarity" alt="#">
      <div class="name">sinestro</div>
      <div class="cardStats">
        <div data-attack="50" class="attack">50</div>
        <div data-defence="60" class="defence">60</div>
        <div data-speed="20" class="speed">20</div>
        <div data-inteligence="60" class="inteligence">60</div>
      </div>
    </div>
    <div class="cardBack"></div>
  </div>


</body>

<script src="../../Assets/Scripts/CursorParallax.js"></script>
<script src="../../Assets/Scripts/script.js"></script>


</html>

