<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="viewport" content="user-scalable=no">
        <title>Jarvis game</title>

        <!--    CSS    -->
        <link href="../../Assets/Styles/style.css" media="screen and (min-width:600px)" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet">


        <!--   Icons    -->
        <link rel="apple-touch-icon" sizes="180x180" href="../../Assets/Ressources/favicon_package_v0.16-1/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../Assets/Ressources/favicon_package_v0.16-1/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../Assets/Ressources/favicon_package_v0.16-1/favicon-16x16.png">
        <link rel="manifest" href="../../Assets/Ressources/favicon_package_v0.16-1/site.webmanifest">
        <link rel="mask-icon" href="../../Assets/Ressources/favicon_package_v0.16-1/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

    </head>

    <body>

        <div class="menu">

            <a href="#home" target="_blank" id="home"><img src="../../Assets/Ressources/jarvis.png"  alt="logo" class="jarvis"/></a>

            <nav>
                <ul>
                    <li> <a href="#home">HOME</a></li>
                    <li><a href="../views/game.html">GAME</a></li>
                    <li> <a href="../views/cards.html">CARDS</a></li>
                    <li> <a href="../views/rank.html">RANK</a></li>
                    <li><a href="../views/shop.html">SHOP</a></li>
                    <li><a href="rules.html">RULES</a></li>
                </ul>
            </nav>

            <a href="connexion.html" target="_blank" id="connexion">Connexion</a>
            <a href="profil.html" target="_blank" id="profil">Caroline Cholley</a>

        </div>

        <div class="homepage">
            <header>



                <div class="title">
                    <div class="headerlogo"><img src="../../Assets/Ressources/jarvis.png"  alt="logo" class="logo"/></div>
                    <div><a href="../views/game.html" class="play_btn">START</a></div>
                </div>

            </header>

            <div class="section" id="section1">

                <p class="image index-3 js-cursor-parallax" data-amplitude="0.1">WHAT IS JARVIS ? <br/>
                    <span>
                        Do you dream of seeing your favorite heroes compete in unusual fights? Go on an adventure with this card game and develop strategies to win and appear in the leaderboard!<br/>
                        Superheroes are waiting for you!</span></p>

                <div class="image index-1 js-cursor-parallax" data-amplitude="0.3"><img src="../../Assets/Ressources/legcard.png"  alt="image" class="face_card"/>
                    <img src="../../Assets/Ressources/epiccard.png"  alt="image" class="right_card1"/>
                    <img src="../../Assets/Ressources/rarecard.png"  alt="image" class="right_card2"/>
                    <img src="../../Assets/Ressources/commoncard.png"  alt="image" class="right_card3"/>
                </div>


            </div>
            <div class="section" id="section2">

                <div class="image index-2 js-cursor-parallax" data-amplitude="0.2"><img src="../../Assets/Ressources/imageG.png"  alt="image" class="imageG"/></div>
                <p class="image index-4 js-cursor-parallax" data-amplitude="0.1">HOW TO PLAY ?<br/>
                    <span>
                        JARVIS is a challenge and strategy game. The goal of the game is to reduce the life of your opponent's hero to zero to win the game.
                        <br/>
                        It's a multi-player card game, you can play against a random opponent or you can challenge a friend!
                        <br/>
                        <a href="rules.html">Discover all the rules of the game</a></span></p>

            </div>

            <img src="../../Assets/Ressources/batman.png"  alt="image" class="batmanimg"/>


        </div>

        <footer >


            <p>© Powered by HETIC Groupe 18.</p>

        </footer>



        <script src="../../Assets/scripts/CursorParallax.js"></script>
        <script src="../../Assets/scripts/main.js"></script>

    </body>
</html>