<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="viewport" content="user-scalable=no">
        <title>Jarvis game</title>

        <!--    CSS    -->
        <link href="../../Assets/Styles/style.css" media="screen and (min-width:600px)" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet">


        <!--   Icons    -->
        <link rel="apple-touch-icon" sizes="180x180" href="../../Assets/Ressources/favicon_package_v0.16-1/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../Assets/Ressources/favicon_package_v0.16-1/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../Assets/Ressources/favicon_package_v0.16-1/favicon-16x16.png">
        <link rel="manifest" href="../../Assets/Ressources/favicon_package_v0.16-1/site.webmanifest">
        <link rel="mask-icon" href="../../Assets/Ressources/favicon_package_v0.16-1/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

    </head>

    <body>

        <div class="menu">

            <a href="index.html" target="_blank" id="home"><img src="../../Assets/Ressources/jarvis.png"  alt="logo" class="jarvis"/></a>

            <nav>
                <ul>
                    <li> <a href="index.html">HOME</a></li>
                    <li><a href="../views/game.html">GAME</a></li>
                    <li> <a href="../views/cards.html">CARDS</a></li>
                    <li> <a href="../views/rank.html">RANK</a></li>
                    <li><a href="../views/shop.html">SHOP</a></li>
                    <li><a href="rules.html">RULES</a></li>
                </ul>
            </nav>

            <a href="connexion.html" target="_blank" id="connexion">Connexion</a>
            <a href="profil.html" target="_blank" id="profil">Caroline Cholley</a>

        </div>





        <div class="rank">

            <form action="#" method="get" class="searchbar">
                <input class="search" type="text" placeholder=" ex: Ingalouu" onFocus="javascript:this.value''">
                <button type="submit" class="search_btn" name="submit">Search</button>
            </form>

            <H2>GENERAL RANK</H2>



            <table >
                <thead>
                    <tr>

                        <th>Grade</th>
                        <th id="rank">Rank</th>
                        <th>Name</th>
                        <th>Victories</th>
                        <th>Adamantium</th>
                    </tr>
                </thead>

                <tbody>


                    <tr class="first">

                        <td class="grade" rowspan="5"><img src="../../Assets/Ressources/Diamant.png" class="grade_img"/> DIAMOND</td>
                        <td class="rangcolumn">1</td>
                        <td>AliceTps</td>
                        <td>1 205</td>
                        <td>380 000</td>
                    </tr>   

                    <tr>

                        <td class="rangcolumn">2</td>
                        <td>Ingalouu</td>
                        <td>1 148</td>
                        <td>360 000</td>
                    </tr>  

                    <tr>

                        <td class="rangcolumn">3</td>
                        <td>Caro.Cho</td>
                        <td>1 104</td>
                        <td>337 000</td>
                    </tr>  

                    <tr>

                        <td class="rangcolumn">4</td>
                        <td>WolveGenf</td>
                        <td>1 043</td>
                        <td>312 000</td>
                    </tr>  

                    <tr>

                        <td class="rangcolumn">5</td>
                        <td>Lisawoman</td>
                        <td>996</td>
                        <td>300 000</td>
                    </tr>  



                    <tr class="first">

                        <td class="grade" rowspan="5"><img src="../../Assets/Ressources/Platine.png" class="grade_img"/> PLATINUM</td>
                        <td class="rangcolumn">1</td>
                        <td>G.Stik</td>
                        <td>805</td>
                        <td>172 000</td>
                    </tr>         

                    <tr>

                        <td class="rangcolumn">2</td>
                        <td>Marion29B</td>
                        <td>790</td>
                        <td>158 000</td>
                    </tr>

                    <tr>

                        <td class="rangcolumn">3</td>
                        <td>Mondouman</td>
                        <td>743</td>
                        <td>146 000</td>
                    </tr>     

                    <tr>

                        <td class="rangcolumn">4</td>
                        <td>BatValette</td>
                        <td>716</td>
                        <td>129 000</td>
                    </tr>   

                    <tr>

                        <td class="rangcolumn">5</td>
                        <td>Amed.du94</td>
                        <td>712</td>
                        <td>124 000</td>
                    </tr> 



                    <tr class="first">

                        <td class="grade" rowspan="5"><img src="../../Assets/Ressources/Or.png" class="grade_img"/> GOLD</td>
                        <td class="rangcolumn">1</td>
                        <td>Kentin.Ca</td>
                        <td>553</td>
                        <td>97 500</td>
                    </tr>         

                    <tr>

                        <td class="rangcolumn">2</td>
                        <td>Erwan.Avgrs</td>
                        <td>539</td>
                        <td>95 000</td>
                    </tr>

                    <tr>

                        <td class="rangcolumn">3</td>
                        <td>Sam.crv92</td>
                        <td>502</td>
                        <td>91 000</td>
                    </tr>     

                    <tr>

                        <td class="rangcolumn">4</td>
                        <td>Lobatack</td>
                        <td>498</td>
                        <td>89 000</td>
                    </tr>   

                    <tr>

                        <td class="rangcolumn">5</td>
                        <td>Alex.Godde77</td>
                        <td>483</td>
                        <td>84 000</td>
                    </tr>  



                    <tr class="first">

                        <td class="grade" rowspan="5"><img src="../../Assets/Ressources/Argent.png" class="grade_img"/> SILVER</td>
                        <td class="rangcolumn">1</td>
                        <td>SuperFan</td>
                        <td>276</td>
                        <td>78 000</td>
                    </tr>         

                    <tr>

                        <td class="rangcolumn">2</td>
                        <td>Roms1997</td>
                        <td>255</td>
                        <td>76 500</td>
                    </tr>

                    <tr>

                        <td class="rangcolumn">3</td>
                        <td>Tom.RGN</td>
                        <td>233</td>
                        <td>72 000</td>
                    </tr>     

                    <tr>

                        <td class="rangcolumn">4</td>
                        <td>Victor.hetic93</td>
                        <td>217</td>
                        <td>68 000</td>
                    </tr>   

                    <tr>

                        <td class="rangcolumn">5</td>
                        <td>Iron.JK</td>
                        <td>208</td>
                        <td>65 000</td>
                    </tr>   




                    <tr class="first">

                        <td class="grade" rowspan="5"><img src="../../Assets/Ressources/Bronze.png" class="grade_img"/> BRONZE</td>
                        <td class="rangcolumn">1</td>
                        <td>Sabsaaaaab</td>
                        <td>124</td>
                        <td>46 000</td>
                    </tr>         

                    <tr>

                        <td class="rangcolumn">2</td>
                        <td>SynergHetc932</td>
                        <td>117</td>
                        <td>43 000</td>
                    </tr>

                    <tr>

                        <td class="rangcolumn">3</td>
                        <td>Olivwoman</td>
                        <td>110</td>
                        <td>36 000</td>
                    </tr>     

                    <tr>

                        <td class="rangcolumn">4</td>
                        <td>Kelly94440</td>
                        <td>102</td>
                        <td>34 000</td>
                    </tr>   

                    <tr>

                        <td class="rangcolumn">5</td>
                        <td>Momo59</td>
                        <td>98</td>
                        <td>32 000</td>
                    </tr>  





                    <tr class="first">

                        <td class="grade" rowspan="5"><img src="../../Assets/Ressources/Bois.png" class="grade_img"/> WOOD</td>
                        <td class="rangcolumn">1</td>
                        <td>Kek92t</td>
                        <td>57</td>
                        <td>23 600</td>
                    </tr>         

                    <tr>

                        <td class="rangcolumn">2</td>
                        <td>ChocomAgency</td>
                        <td>51</td>
                        <td>21 000</td>
                    </tr>

                    <tr>

                        <td class="rangcolumn">3</td>
                        <td>JNDuch.93</td>
                        <td>46</td>
                        <td>18 000</td>
                    </tr>     

                    <tr>

                        <td class="rangcolumn">4</td>
                        <td>B.Kitchenam</td>
                        <td>41</td>
                        <td>12 000</td>
                    </tr>   

                    <tr>

                        <td class="rangcolumn">5</td>
                        <td>Maxlamenace</td>
                        <td>37</td>
                        <td>9 000</td>
                    </tr>                         

                </tbody>
            </table>
        </div>
        <footer >


            <p>© Powered by HETIC Groupe 18.</p>

        </footer>



        <script src="../../Assets/scripts/main.js"></script>

    </body>
</html>