<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="viewport" content="user-scalable=no">
        <title>Jarvis - Le jeu</title>

        <!--    CSS    -->
        <link href="../../Assets/Styles/style.css" media="screen and (min-width:600px)" rel="stylesheet">


        <!--   Icons    -->
        <link rel="apple-touch-icon" sizes="57x57" href="../../Assets/Ressources/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../../Assets/Ressources/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../Assets/Ressources/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../Assets/Ressources/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../Assets/Ressources/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../Assets/Ressources/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../../Assets/Ressources/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../Assets/Ressources/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../../Assets/Ressources/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../../Assets/Ressources/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../Assets/Ressources/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../../Assets/Ressources/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../Assets/Ressources/favicon/favicon-16x16.png">
        <link rel="manifest" href="../../Assets/Ressources/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../../Assets/Ressources/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    </head>

    <body>

        <div class="menu">

            <a href="index.html" target="_blank" id="accueil"><img src="../../Assets/Ressources/jarvis.png"  alt="logo" class="jarvis"/></a>

            <nav>
                <ul>
                    <li> <a href="index.html">ACCUEIL</a></li>
                    <li><a href="jeu.html">JEU</a></li>
                    <li> <a href="collection.html">COLLECTION</a></li>
                    <li> <a href="classement.html">CLASSEMENT</a></li>
                    <li><a href="boutique.html">BOUTIQUE</a></li>
                    <li><a href="regles.html">RÈGLES</a></li>
                </ul>
            </nav>

            <a href="#" target="_blank" id="profil">Caroline Cholley</a>

        </div>





        <div class="regles">
            <H2>Règles du jeu</H2>
            <p class="imp_txt">Le but du jeu est de réduire la vie du héros de votre adversaire à zéro pour gagner la partie.</p>
            <p> Un joueur peut créer un <span>deck de 30 cartes</span>, qu’il aura choisi au préalable dans sa <span>collection</span>. Il a la possibilité de jouer contre un joueur aléatoire ou d'inviter un ami. <br/>
                Au premier tour, les joueurs reçoivent <span>8 cartes</span>, tirées aléatoirement du deck. Ils peuvent modifier certaines d'entre-elles afin d'éviter d'avoir de grosses cartes impossibles à jouer en début de partie.
                <br/>Il peut placer 5 cartes visibles et 3 cartes cachées sur le plateau au maximum. Une fois la carte jouée, il faut la placer dans le cimetière.</p>
            <p>Une fois la carte jouée, il faut la placer dans le cimetière.<br/> Le joueur commence le jeu avec 5 points d'énergie : il peut utiliser un point d'énergie pour jouer une carte, ou pour en piocher une.<br/> Lorsqu’on a plus de points d’énergie on doit passer son tour. A chaque tour, le joueur gagne un point d’énergie.</p>

            <div class="pvcont">
                <ul>La stratégie repose sur les différents pouvoirs des personnages, visibles sur les cartes :

                    <li><span class="pouvoir">L’Attaque :</span> permet d'infliger des dommages à l’adversaire</li>
                    <li><span class="pouvoir">La Défense :</span> permet de résister aux attaques de son adversaire</li>
                    <li><span class="pouvoir">La Vitesse :</span> permet d’attaquer l’adversaire plus rapidement (le joueur ayant le total des valeurs Vitesse des cartes en main le plus élevé attaque en premier) </li>
                    <li><span class="pouvoir">L’Intelligence :</span> permet de mieux résister aux attaques (l’intelligence du joueur doit être supérieure à celle de l’adversaire)</li>
                </ul>

                <div class="imgcard"><img src="../../Assets/Ressources/card.png"  alt="card" class="card"/></div>

            </div>
            
            <p>Chaque carte combat celle de l’adversaire, située en face sur le plateau de jeu. La barre de vie permet de déterminer le gagnant : lorsqu’elle atteint 0, c’est le joueur adverse qui gagne. Le héros est connecté à la barre de vie : il est touché par les attaques lorsque l’espace qu’occupait une carte est vide, et peut l’atteindre directement. </p>
            
            <p><span class="imp_txt">Il existe plusieurs aspects qui permet d’augmenter ses chances de victoire :</span>
            </p>
            <ul>
                <li> La rareté des cartes :<br/> 
Chaque carte possède une rareté. Plus une carte est rare, plus elle possède des valeurs de pouvoir plus élevées. Il est possible de créer l’une de ces cartes grâce au vibranium (voir Boutique).

<ul>Rareté des cartes de la plus rare à la moins rare : 

    <li>commune (contour gris)</li>
    <li>rare (contour bleu)</li>
    <li>épique (contour violet)</li>
<li>légendaire (contour orange)</li>
                    </ul></li>

<li>Les affinités : <br/>
Chaque personnage possède des affinités et des antagonismes. <br/>
Si la carte est combinée à un allié, un bonus s’applique (bonus à décider).<br/>
Si elle est combinée à un ennemi, un malus s’applique (malus à décider).</li>

<li>Les cartes secrètes :<br/>
    Ce sont les 3 cartes cachées, elles correspondent à des bonus ou des malus influant sur les valeurs des pouvoirs, en fonction du personnage. </li>

            </ul>
            


        </div>
        <footer >


            <p>© Powered by HETIC Groupe 18.</p>

        </footer>



        <script src="../../Assets/scripts/main.js"></script>

    </body>
</html>