<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="viewport" content="user-scalable=no">
        <title>Jarvis game</title>

        <!--    CSS    -->
        <link href="../../Assets/Styles/style.css" media="screen and (min-width:600px)" rel="stylesheet">

       
        <!--   Icons    -->
        <link rel="apple-touch-icon" sizes="180x180" href="../../Assets/Ressources/favicon_package_v0.16-1/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../Assets/Ressources/favicon_package_v0.16-1/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../Assets/Ressources/favicon_package_v0.16-1/favicon-16x16.png">
        <link rel="manifest" href="../../Assets/Ressources/favicon_package_v0.16-1/site.webmanifest">
        <link rel="mask-icon" href="../../Assets/Ressources/favicon_package_v0.16-1/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

    </head>

    <body>
        
        <div class="menu">
           
           <a href="#home" target="_blank" id="home"><img src="../../Assets/Ressources/jarvis.png"  alt="logo" class="jarvis"/></a>
           
            <nav>
                <ul>
                    <li> <a href="index.html">HOME</a></li>
                    <li><a href="../views/game.html">GAME</a></li>
                    <li> <a href="../views/cards.html">CARDS</a></li>
                    <li> <a href="../views/rank.html">RANK</a></li>
                    <li><a href="../views/shop.html">SHOP</a></li>
                    <li><a href="rules.html">RULES</a></li>
                </ul>
            </nav>
            
            <a href="connexion.html" target="_blank" id="connexion">Connexion</a>
            <a href="profil.html" target="_blank" id="profil">Caroline Cholley</a>

        </div>

        <div>
                <img src="../../Assets/Ressources/marvel.png"  alt="marvel" class="marvel"/>
        </div>

        <div class="cards">

            <div class="background"></div>

            <!-- search bar -->
            <div class="searchBar">
                    <form action="#" method="get">
                            <input class="search" type="text" value="Search" onFocus="javascript:this.value''">
                    </form>    
            </div>

            <!-- All cards you didn't have, sorted by grades -->
            <div class="allCards">

                    <!-- Lengedary cards -->
                    <div class="allLegendary">
                        <h1 class="titleLegendary">Legendary</h1>
                            <div class="imageType">
                                    <img class="test" src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                            <div class="imageType">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                            <div class="imageType">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                            <div class="imageType">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                            <div class="imageType">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                        <p><a class="seeMore" href="#">See More</a></p>
                        <div class="more" style="display:none;">
                                <div class="imageType">
                                    <img class="test" src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                            <div class="imageType">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                            <div class="imageType">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                            <div class="imageType">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                            <div class="imageType">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <a class="add" href="#"><img src="../../Assets/Ressources/plus.svg" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <!-- epic cards -->
                    <div class="allEpic">
                            <h1 class="titleEpic">Epic</h1>
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                            <p><a class="seeMore" href="#" onclick="seeMore">See More</a></p>
                            <div class="more" style="display:none;">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                            </div>
                        </div>

                    <!-- Rare cards -->
                    <div class="allRare">
                            <h1 class="titleRare">Rare</h1>
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                            <p><a class="seeMore" href="#" onclick="seeMore">See More</a></p>
                            <div class="more" style="display:none;">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                            </div>
                        </div>
                    <!-- Rare cards -->
                    <div class="allCommon">
                            <h1 class="titleRare">Common</h1>
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                                <img src="../../Assets/Ressources/newCard.png" alt="">
                            <p><a class="seeMore" href="#" onclick="seeMore">See More</a></p>
                            <div class="more" style="display:none;">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                                    <img src="../../Assets/Ressources/newCard.png" alt="">
                            </div>
                    </div>

            </div>


            <!-- My shop, you can add and remove a card -->
            <div class="shop">
                <img src="../../Assets/Ressources/shop.svg" alt="">

                <div class="table">
                    <table>
                        <tbody>
                            <tr>
                                <td class="legendary"width=180px nowrap><img src="../../Assets/Ressources/legendary.png"> Thor :  2 000 000 <img class="delate"src="../../Assets/Ressources/multiply.svg" onclick="javascript:"() alt=""></td>
                            </tr>
                            <tr>
                                <td class="epic"width=180px nowrap><img src="../../Assets/Ressources/epic.png"> Thor : 700 000 <img class="delate"src="../../Assets/Ressources/multiply.svg" alt=""></td>
                            </tr>
                            <tr>
                                
                                <td class="common"width=180px nowrap><img src="../../Assets/Ressources/common.png" alt=""> Thor : 1 000 200 <img class="delate"src="../../Assets/Ressources/multiply.svg" alt=""></td>
                            </tr>
                            <tr>
                                <td class="rare"width=180px nowrap> <img src="../../Assets/Ressources/rare.png"> Thor : 7 900 000 <img class="delate" src="../../Assets/Ressources/multiply.svg" alt=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="purchase">
                    <img class="ingot"src="../../Assets/Ressources/money-bag.svg" alt="">
                    <p>TOTAL : 3 000 500</p>
                    <a class="buy" href="#"><img src="../../Assets/Ressources/checked.svg" alt=""></a>

                </div>
            </div>
            
        </div>

        <footer >
            

            <p>© Powered by HETIC Groupe 18.</p>

        </footer>



        <script src="../../Assets/scripts/main.js"></script>

    </body>
</html>